---
layout: intro
title: TDD in the Real World
tagline: 
---
{% include JB/setup %}

<div class="row">
  <div class="span6">

    <h3>TDD in the Real World</h3>
    
    <p>You can find on this site the materials from a tutorial about "TDD in the Real
    World", given by the four of us at the 2012 <a href="http://entwicklertag.de">
    <em>Entwicklertag</em> conference in Karlsruhe</a>.</p>
    
    <p>For this tutorial, we have developed a new approach to coaching TDD as a <em>skill
    and habit</em>, rather than just as a technique and tool. Along with the materials,
    we also explain some of the background in our <a href="blog/">blog</a>.</p>

  </div>
  <div class="span6">

    <h3>TDD in der Realität</h3>
    
    <p>Auf dieser Seite findet ihr die Materialien zu einem Tutorial über "TDD in der
    Realität", das wir beim <a href="http://entwicklertag.de">Karlsruher Entwicklertag 2012</a>
    gehalten haben.</p>
    
    <p>Für dieses Tutorial haben wir einen neuen Ansatz zum Etablieren von TDD als
    Fertigkeit und Angewohnheit (skill/habit) entwickelt, der über die bloße Sicht
    als Technologie und Werkzeug hinausgeht. Zusätzlich zu den Materialien gibt es
    auf unserem <a href="blog/">blog</a> mehr Informationen zu Hintergründen und
    Details unseres Vorgehens.</p>

  </div>
</div>

<div class="row">
  <div class="span12">

    <h2>Downloads</h2>
    
    <p>
    <a class="btn" 
    href="https://github.com/downloads/andrena/reality-tdd/en-KatalogDerStandardsituationen.pdf">
    <i class="icon-book"> </i> Set-piece play (the catalog)</a>
    <a class="btn" 
    href="https://github.com/downloads/andrena/reality-tdd/de-KatalogDerStandardsituationen.pdf">
    <i class="icon-book"> </i> Katalog der Standardsituationen</a>
    </p>
    <p>
    <a class="btn" 
    href="https://github.com/downloads/andrena/reality-tdd/de-Handout-pmem.pdf">
    <i class="icon-eye-close"> </i> Übung zum vorausschauenden Erinnern</a>
    </p>
    
    
    <h2>Blog</h2>
    
    <ul class="posts">
      {% for post in site.posts %}
        <li><span>{{ post.date | date: "%d.%m.%Y" }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
    
    <p>
    <a class="btn btn-success" href="blog/">
    <i class="icon-chevron-right icon-white"> </i> Read more…</a>
    </p>

  </div>
</div>

